*.tar
docs
#libcity/cache
#raw_data
*.log
*.tar
.idea
**/__pycache__/
**/.idea/
# --
# 将gitignore分散到libcity的各个子文件夹中
# --
#**/cache/
# **/log/
*.npz
*.npy
*.pt
*.csv
*.pkl
*.geo
*.rel
*.pt
*.svg
ignore